<?xml version="1.0"?>
<robot name="my_arm" xmlns:xacro="http://github.org/hatch/xacro">

  <!-- ===== UR10 ARM (nominal) ===== -->
  <xacro:include filename="$(find ur_description)/urdf/ur10_nominal.urdf"/>

  <!-- ===== WELDING TORCH HOLDER (tools/holder) ===== -->
  <link name="torch">
    <visual>
      <geometry>
        <mesh filename="$(find holder)/meshes/02-100-00-Assy_reduction.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="LightRed">
        <color rgba="1.0 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="$(find holder)/meshes/02-100-00-Assy_reduction.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="wrist_3_link_torch_fixed_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0 ${pi} ${pi}"/>
    <parent link="wrist_3_link"/>
    <child link="torch"/>
  </joint>

  <!-- ===== WELDING TORCH TIP ===== -->
  <link name="torch_tip" />

  <joint name="wrist_3_link_torch_tip_fixed_joint" type="fixed">
    <origin xyz="0.0 -0.106 0.367" rpy="0 -0.018 -0.004"/> <!-- Good as on 21 August 2025 -->
    <parent link="wrist_3_link"/>
    <child link="torch_tip"/>
  </joint>

  <!-- ===== KEYENCE LASER SCANNER ===== -->
  <joint name="wrist_3_link_lj_v7200_frame" type="fixed">
    <origin xyz="0.062 -0.105 0.3667" rpy="0 ${pi} ${-pi/2}"/>
    <parent link="wrist_3_link"/>
    <child link="lj_v7200_optical_frame"/>
  </joint>

  <xacro:include filename="$(find keyence_experimental)/urdf/lj_v7200_macro.xacro"/>
  <xacro:lj_v7200 prefix=""/>

  <!-- ===== ORBBEC RGB-D CAMERA =====
  <xacro:include filename="$(find orbbec_camera)/urdf/gemini_335_336.urdf.xacro"/>

  <joint name="wrist_3_link_orbbec_camera_joint" type="fixed">
    <origin xyz="-0.0225 -0.035 0.20685" rpy="0.0 ${-pi/2.0} ${pi/2.0}"/>
    <parent link="wrist_3_link"/>
    <child link="camera_link"/>
  </joint>
  -->

  <!-- ===== RealSense D435 RGB-D CAMERA =====  -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>
  <xacro:sensor_d435 parent="wrist_3_link" use_nominal_extrinsics="true" name="d435">
    <origin xyz="0 -0.02 0.191" rpy="0.0 ${-pi/2.0} ${pi/2.0}"/>
  </xacro:sensor_d435>


</robot>